<style type="text/css">
 .a{
    background-color: red;
    width: 60px;
 }

</style>
<table>
    <tr>
        <td class="a" style="border:solid">hello</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="a" style="border:solid">world</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="a" tyle="border:solid">how</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="a" style="border:solid">are</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="a" style="border:solid">you?</td>
    </tr>
    <tr>
        <td style="border:solid">hello</td>
        <td></td>
        <td style="border:solid">world</td>
        <td></td>
        <td style="border:solid">how</td>
        <td></td>
        <td style="border:solid">are</td>
        <td></td>
        <td style="border:solid">you?</td>
    </tr>
</table>