// Place all the styles related to the BusCompanies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#bus_company{
	/* border: solid;
	border-collapse: collapse; */
}

#bus_company th,#bus_company td{
	text-align: center;
	/* border: solid; */

}
#bus_company .logo{
	width: 30px;
	height: 50px;
	text-align: left;
	padding-left: 30px;
	padding-right: 10px;
    
}
#bus_company_title{
	margin-left: 300px;
}
