// Place all the styles related to the seatTypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#references{
	position: relative;
	left: 175px;
	top: 10px;

}